Lidalia Test

  Some utility hamcrest assertions and a means to test exception behaviour.

  See the {{{./apidocs/index.html}JavaDocs}} for documentation and the {{{./xref-test/index.html}Test Source}} for examples of usage.
